.DS_Store

# Ignore all ML model directories
model

# Ignore all Data model directories
data

# Ignore all pdfs in the data-245 directory
data-245/pdfs

# Ignore all python virtual environments
# data-270/project/.env
.env

# Ignore all Images and videos in the MSDA directory
*.jpg
*.png
*.mp4
*.csv