.DS_Store

# Ignore all ML model directories
model

# Ignore all pdfs in the data-245 directory
data-245/pdfs

# Ignore all python virtual environments
# data-270/project/.env
.env

# Ignore all jpg files in the MSDA directory
*.jpg